[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
statistics = "*"
torch = "==0.4.1"
torchvision = "*"
matplotlib = "*"
tensorboardx = "*"
tensorboard = "*"
tensorflow = "*"
hickle = "*"
pytorchviz = {git = "https://github.com/szagoruyko/pytorchviz"}

[dev-packages]

[requires]
python_version = "3.6"
