<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="../static/index.css">
  </head>
  <body>
    <div class="main-app">
      <header>
        <h2>spAIdes: An Intelligent Spades-playing Agent</h2>
        <h3>A CS 221 project by Drew Gregory, Griffin Kardos, Kendrick Shen, and Ryan Tolsma</h3>
      </header>
      <form onsubmit="beginPlaying()">
        <h3>Player type:</h3>
        <input type="radio" name="playerType" value="Human"> Human<br>
        <input type="radio" name="playerType" value="Oracle"> Oracle<br>
        <input type="radio" name="playerType" value="Baseline"> Baseline<br>  
        <input type="submit" value="Submit">
      </form>
    </div>
  </body>
</html>